@import "./normalize.min.css";

html {
  min-width: 320px;
}

li {
  list-style-type: none;
}

.container {
  width: 1440px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  background-color: #87509c;
  padding: 70px 210px;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.header__logo {
  height: 40px;
}

.header__main-menu {
  display: flex;
  margin: 0px;
}

.header__burger-nav {
  display: none;
}

.main-menu__item {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  padding: 10px 17px;
  font-size: 16px;
}

.main-menu__item:hover {
  background-color: #643a79;
  cursor: pointer;
}

.section-welcome {
  display: flex;
  flex-direction: column;
  background-color: #87509c;
  padding: 0px 267px 128px 267px;
}

.section-welcome__title {
  margin-bottom: 50px;
  font-size: 42.5px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.section-welcome__big-button {
  margin: auto;
}

.big-button {
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #c86a40;
  background-color: #eb7d4b;
  border-radius: 5px;
  width: 300px;
  height: 70px;
  color: white;
}

.big-button:hover {
  cursor: pointer;
}

.section-services {
  background-color: #17c2a4;
  padding: 120px 200px;
}

.section-services__title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.section-services__cooperation {
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 10px auto 80px auto;
}

.image-container {
  display: flex;
  justify-content: space-around;
  color: white;
  line-height: 1.6em;
  flex-wrap: wrap;
}

.image-container__item {
  width: 200px;
  text-align: center;
  margin: 0px;
  margin-bottom: 15px;
  padding: 0 15px;
}

/* .caption__title {
  font-weight: bold;
} */

.item__services-picture {
  height: 134px;
}

.section-team {
  background-color: #e7f1f8;
  padding-top: 120px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 130px;
  color: #3c4761;
}

.section-team__title {
  color: #3c4761;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.section-team__about {
  font-size: 22px;
  text-align: center;
  margin: 10px auto 80px auto;
}

.person-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.person-container__person {
  text-align: center;
  width: 200px;
  margin: 0px;
  margin: 10px;
  line-height: 1.6em;
}

.photo__caption {
  margin-top: 40px;
}

.person__photo {
  width: 200px;
  margin: 0px;
}

.social-container__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdd1df;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px 6px 0px 6px;
}

.person__social-container {
  display: flex;
  justify-content: center;
}

.person__profession {
  color: #48c1e9;
}

@media (max-width: 1366px) {
  .header {
    padding: 70px 100px;
  }

  .section-welcome {
    padding: 0px 150px 128px 150px;
  }

  .section-services {
    padding: 120px 80px;
  }

  .section-team {
    padding: 120px 80px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 70px 80px;
  }

  .section-welcome {
    padding: 0px 100px 128px 100px;
  }

  .section-welcome__title {
    font-size: 30px;
  }

  /* .section-services {
    padding: 120px 100px;
  } */
}

@media (max-width: 767px) {
  .section-services {
    padding: 120px 50px;
  }

  .section-services__title {
    font-size: 36px;
  }

  .section-services__cooperation {
    font-size: 18px;
  }

  .section-team {
    padding: 120px 50px;
  }

  .section-team__title {
    font-size: 36px;
  }

  .section-team__about {
    font-size: 18px;
  }

  .header__nav {
    display: none;
  }

  .header__burger-nav {
    display: block;
  }
}

@media (max-width: 539px) {
  .section-services__title {
    font-size: 18px;
  }

  .section-services__cooperation {
    font-size: 16px;
  }

  .section-team__title {
    font-size: 18px;
  }

  .section-team__about {
    font-size: 16px;
  }
}

/* @media (max-width: 1199px) {
  .container {
    width: 900px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    display: flex;
    background-color: #87509c;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    color: white;
  }

  .header__logo {
    height: 40px;
  }

  .header__main-menu {
    display: flex;
    width: 416px;
    justify-content: space-between;
  }

  .main-menu__item {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }

  .main-menu__item:hover {
    background-color: #643a79;
    cursor: pointer;
  }

  .section-welcome {
    display: flex;
    flex-direction: column;
    background-color: #87509c;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .section-welcome__title {
    margin-bottom: 50px;
    font-size: 26px;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .section-welcome__big-button {
    margin: auto;
  }

  .big-button {
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #c86a40;
    background-color: #eb7d4b;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    color: white;
  }

  .big-button:hover {
    cursor: pointer;
  }
} */

/* @media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    display: flex;
    background-color: #87509c;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    color: white;
  }

  .header__logo {
    height: 25px;
  }

  .header__main-menu {
    display: flex;
    width: 100px;
    justify-content: space-between;
    font-size: 7px;
  }

  .main-menu__item {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }

  .main-menu__item:hover {
    background-color: #643a79;
    cursor: pointer;
  }

  .section-welcome {
    display: flex;
    flex-direction: column;
    background-color: #87509c;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }

  .section-welcome__title {
    margin-bottom: 10px;
    font-size: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .section-welcome__big-button {
    margin: auto;
  }

  .big-button {
    font-size: 8px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #c86a40;
    background-color: #eb7d4b;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    color: white;
  }

  .big-button:hover {
    cursor: pointer;
  }
} */
